<div class="geral">
    <div>
        <h1>Depoimentos de Clientes</h1>
        <p>Aqui estão alguns depoimentos de nossos clientes satisfeitos:</p>
    </div>
    <blockquote>
      <p>"A Detinos Europa fez da nossa viagem um sonho realizado. Cada detalhe foi perfeito!"<br>- Ana e Carlos</p>
      <p>"O pacote gastronômico nos proporcionou experiências culinárias incríveis. Recomendo!" <br>- João e Maria</p>
      <p>"A aventura nos Alpes foi inesquecível. Obrigado, Destinos Europa!" <br>- Paulo</p>
    </blockquote>
</div>