<div class="DivGeral">
    <div class="TextoContato">
        <h1>Contato</h1>
        <p>Entre em contato conosco para mais informações.</p>
    </div>
    <div class="Formulario">
        <form>
            <p><label for="nome">Nome:</label></p>
            <input type="text" name="nome" id="nome" placeholder="Digite seu nome" required autocomplete="off">
            <p><label for="email">Email:</label></p>
            <input type="email" name="email" id="email" placeholder="Digite seu email" required autocomplete="off">
            <p><label for="msm">Mensagem:</label></p>
            <input type="text" name="msm" id="msm" placeholder="Sua mensagem" required autocomplete="off">
            <input class="Enviar" type="submit" value="Enviar">
        </form>
    </div>
    <div class="Infos">
        <p>Telefone: (XX) XXXX-XXXX</p>
        <p>Email: "DestinosEuropeus.gmail.com"</p>
        <p>Endereço: Rua Exemplo, 123, Cidade, País</p>
    </div>
</div>
