.DivGeral{
    background-color: rgb(192, 192, 192);
    padding: 10px;
}

.TextoContato{
    width: 40%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #b55b00;
    color: #223F59;
}

.Formulario{
    background-color: #223f59;
    color: aliceblue;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    max-width: 500px;
    margin-top: 2em;
    padding: 20px;
}

.Formulario form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"], input[type="email"] {
    color: rgb(210, 210, 210);
    padding: 5px;
    border: 1px solid #c8c8c883;
    background-color: #2a4c6a;
    border-radius: 10px;
    outline: none;
}

label{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.612);
}

#msm{
    height: 30px;
}

.Enviar{
    margin-top: 10px;
    background-color: #b55b00;
    color: #c8c8c8;
    padding: 5px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.Infos{
    text-align: center;
    color: #223F59;
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}