<div class="geral">
    <div class="TextoSuperior">
        <h1>Bem-vindo à Destinos Europa!</h1>
        <p>Descubra as maravilhas da Europa com a Destinos Europa, sua agência de turismo especializada em proporcionar experiências inesquecíveis. Explore nossos destinos, pacotes de turismo e muito mais.</p>
    </div>

    <app-destinos-populares></app-destinos-populares>

    <app-motivos></app-motivos>

    <div class="LinkParaRotaVisitas">
        <h2>Pronto para Explorar?</h2>
        <p>Descubra mais sobre nossos pacotes de viagens e comece a planejar sua aventura europeia hoje mesmo.</p>
        <p><a routerLink="/visitas">Saiba mais sobre nossas visitas</a></p>
    </div>

    <div class="call-to-action">
        <h2>Contate-nos</h2>
        <p>Tem alguma dúvida ou quer planejar uma viagem personalizada? Estamos aqui para ajudar.</p>
        <p><a routerLink="/contato">Entre em contato conosco</a></p>
    </div>

</div>
