<div class="DivGeral">
    <div class="TextoInicial">
        <h1>Visitas</h1>
        <p>Na ExploreEuropa, oferecemos uma variedade de pacotes de visitas cuidadosamente planejados para proporcionar a melhor experiência possível. Descubra os destinos mais encantadores da Europa com nossos pacotes exclusivos.</p>
    </div>

    <app-pacotes></app-pacotes>

    <app-galeria></app-galeria>

    <app-depoimentos></app-depoimentos>

    <div class="TextoFinal">
        <h2>Planeje sua Visita</h2>
        <p>Entre em contato conosco para mais informações sobre nossos pacotes de visitas e para planejar sua próxima aventura pela Europa. Estamos aqui para ajudar a tornar sua viagem dos sonhos uma realidade!</p>
        <button routerLink="/contato">Clique aqui para entrar em contato</button>
    </div>
</div>
