<div class="DivGeral">
    <div>
        <h1>Pacotes de Turismo</h1>
    </div>
    <div class="DivGeralPacotes">
        <div>
            <img src="" alt="">
            <h2>1. Pacote Cultural</h2>
            <p>Explore as riquezas culturais da Europa com visitas a museus, galerias de arte, e sítios históricos. Este pacote inclui tours guiados por especialistas e ingressos para atrações culturais em cidades como Paris, Roma, e Viena.</p>
        </div>

        <div>
            <img src="" alt="">
            <h2>2. Pacote Gastronômico</h2>
            <p>Desfrute das delícias culinárias da Europa com nosso pacote gastronômico. Inclui visitas a mercados locais, degustações de vinhos, aulas de culinária e jantares em restaurantes renomados em cidades como Barcelona, Lisboa, e Florença.</p>
        </div>

        <div>
            <img src="" alt="">
            <h2>3. Pacote Natural</h2>
            <p>Conecte-se com a natureza e explore as paisagens deslumbrantes da Europa. Este pacote inclui trilhas, passeios de barco e visitas a parques nacionais em locais como os Alpes Suíços, a Costa Amalfitana e as Ilhas Gregas.</p>
        </div>

        <div>
            <img src="" alt="">
            <h2>4. Pacote de Aventura</h2>
            <p>Para os amantes de adrenalina, oferecemos o pacote de aventura que inclui atividades como esqui, escalada, rafting e muito mais em destinos emocionantes como os Pirineus, os Balcãs e os Alpes.</p>
        </div>
    </div>
</div>
