<div class="SobreNos">
    <div class="SobreNos_Texto">
        <h1>Sobre Nós</h1>
        <p>Na Destinos Europa, somos apaixonados por viagens e por ajudar nossos clientes a descobrirem as maravilhas do continente europeu. Nossa missão é proporcionar experiências inesquecíveis, oferecendo pacotes de viagens personalizados que atendam às necessidades e desejos de cada viajante.</p>
        <p>Nossa equipe é composta por especialistas em turismo com anos de experiência em planejar e organizar viagens pela Europa. Estamos comprometidos em oferecer um serviço de alta qualidade, com atenção aos detalhes e um toque pessoal.</p>
        <p>O que nos diferencia é nosso compromisso com a satisfação do cliente. Trabalhamos com dedicação para garantir que cada viagem seja única e memorável, desde a escolha dos destinos até a finalização dos detalhes logísticos.</p>
    </div>
    <div class="SobreNos_img">
        <img src="ImgSobreNos.jpeg" alt="Foto Sobre nós">
    </div>
</div>
