<h1>Galeria de Fotos</h1>
<p>Arraste para o lado para ver as imagens</p>
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="paris.jpg" alt="Torre Eiffel, Paris"></div>
        <div class="swiper-slide"><img src="rome.jpg" alt="Coliseu, Roma"></div>
        <div class="swiper-slide"><img src="vienna.jpg" alt="Palácio de Schönbrunn, Viena"></div>
        <div class="swiper-slide"><img src="barcelona.jpg" alt="Sagrada Família, Barcelona"></div>
        <div class="swiper-slide"><img src="lisbon.jpg" alt="Praça do Comércio, Lisboa"></div>
        <div class="swiper-slide"><img src="florence.jpg" alt="Ponte Vecchio, Florença"></div>
        <div class="swiper-slide"><img src="swiss-alps.jpg" alt="Alpes Suíços"></div>
        <div class="swiper-slide"><img src="amalfi-coast.jpg" alt="Costa Amalfitana"></div>
        <div class="swiper-slide"><img src="amalfi-coast(2).jpg" alt="Costa Amalfitana"></div>
        <div class="swiper-slide"><img src="greek-islands.jpg" alt="Ilhas Gregas"></div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>
  