.geral{
    width: 80vw;
    max-width: 800px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.geral h2{
    text-align: center;
    color: #223F59;
    margin-bottom: 20px;
}

.DivGeralMotivos{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.DivGeralMotivos>div{
    padding: 10px;
    background-color: rgb(177, 177, 177);
    cursor: pointer;
    border-radius: 20px;
}

.DivGeralMotivos>div:hover{
    background-color: rgb(161, 161, 161); 
}

.DivGeralMotivos h3{
    margin-bottom: 5px;
    color: #223F59;
}

.DivGeralMotivos p{
    color: white;
}