<div class="DivGeral">

    <div class="TituloInicialSuperior">
        <h1>Sobre Nós</h1>
        <p>Bem-vindo à Destinos Europa!</p>
    </div>

    <div class="SobreNos">
        <div class="SobreNos_Texto">
            <h1>Sobre Nós</h1>
            <p>Na Destinos Europa, somos apaixonados por viagens e por ajudar nossos clientes a descobrirem as maravilhas do continente europeu. Nossa missão é proporcionar experiências inesquecíveis, oferecendo pacotes de viagens personalizados que atendam às necessidades e desejos de cada viajante.</p>
            <p>Nossa equipe é composta por especialistas em turismo com anos de experiência em planejar e organizar viagens pela Europa. Estamos comprometidos em oferecer um serviço de alta qualidade, com atenção aos detalhes e um toque pessoal.</p>
            <p>O que nos diferencia é nosso compromisso com a satisfação do cliente. Trabalhamos com dedicação para garantir que cada viagem seja única e memorável, desde a escolha dos destinos até a finalização dos detalhes logísticos.</p>
        </div>
        <div class="SobreNos_img">
            <img src="ImgSobreNos.jpeg" alt="Foto Sobre nós">
        </div>
    </div>

    <div class="NossaMissao">
        <h2>Nossa Missão</h2>
        <p>Proporcionar aos nossos clientes experiências de viagem extraordinárias e memoráveis, explorando os destinos mais incríveis da Europa com conforto e segurança.</p>
    </div>

    <div class="NossoTime">
        <div class="NossoTime_Texto">
            <h2>Nosso Time</h2>
            <p>Nosso time é formado por profissionais dedicados e apaixonados por viagens. Cada membro da nossa equipe traz uma riqueza de conhecimento e experiência, garantindo que cada viagem seja planejada com excelência.</p>
        </div>
        <div class="NossoTime_DivGeralFuncionarios">
            <div>
                <img src="FotodeJoao.jpg" alt="Foto de João">
                <h1>João Silva</h1>
                <p class="Especialidade">Fundador e CEO</p>
                <p class="Texto">Com mais de 20 anos de experiência no setor de turismo, João fundou a ExploreEuropa com o objetivo de compartilhar sua paixão por viagens e ajudar outras pessoas a explorarem a Europa.</p>
            </div>
            <div>
                <img src="FotodeMaria.jpg" alt="Foto de Maria">
                <h1>Maria Oliveira</h1>
                <p class="Especialidade">Diretora de Operações</p>
                <p class="Texto">Maria coordena todas as operações da agência, garantindo que cada viagem seja organizada com precisão e atenção aos detalhes.</p>
            </div>
            <div>
                <img src="FotodePedro.jpg" alt="Foto de Pedro">
                <h1>Pedro Santos</h1>
                <p class="Especialidade">Especialista em Destinos</p>
                <p class="Texto">Pedro tem um conhecimento profundo dos destinos europeus e é responsável por criar roteiros personalizados que atendem às preferências dos clientes.</p>
            </div>
            <div>
                <img src="FotodeAna.jpg" alt="Foto de Ana">
                <h1>Ana Costa</h1>
                <p class="Especialidade">Coordenadora de Atendimento ao Cliente</p>
                <p class="Texto">Ana lidera a equipe de atendimento ao cliente, assegurando que todas as necessidades e dúvidas dos clientes sejam atendidas com eficiência e cordialidade.</p>
            </div>
        </div>
        <p class="seta">></p>
    </div>

    <div class="TextoFinal">
        <p>Estamos aqui para transformar seus sonhos de viagem em realidade.
        <p class="TextoFinalAlto">Venha explorar a Europa conosco!</p>
    </div>
</div>
