.DivGeral{
    background-color: rgb(192, 192, 192);
    padding: 10px;
}

.TituloInicialSuperior{
    width: 80%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid yellow;
    color: #223F59;
    margin-bottom: 2em;
    margin-top: 1em;
}

.TextoFinal{
    text-align: center;
    margin: 4em 10px;
    color: #223F59;
}

.TextoFinalAlto{
    color: #223F59;
    font-size: 40px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.258);
}